.featured {
    width: 100%;
    max-width: 1024px;
    gap: 20px;
    z-index: 1;
}

.featuredImg {
    width: 100%;
    object-fit: cover;
}

.featured__item {
    position: relative;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    height: 250px;
}

.featured__titles {
    position: absolute;
    bottom: 20px;
}