.navbar {
    height: 50px;
    background-color: var(--color1);
}

.nav__container {
    width: 100%;
    max-width: 1024px;
    color: white;
}

.logo {
    font-weight: 500;
}

.nav__button {
    margin-left: 12px;
    border: none;
    padding: 4px 12px;
    cursor: pointer;
    color: var(--color1);
}